.main_page_container {
    display: flex;
    flex-flow: row;
}

.map_block {
    width: 60%;
    height: 100vh;
    position: relative;
}

.aside_panel {
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.childs_info_table {
    height: 50%;
    width: 100%;
    overflow: auto;
}

.selected_unit_diagram {
    height: 50%;
    width: 100%;
}